// EXPLORE
.recipies_ml {
  .recipie_container {
    padding: 12px 10px 10px 10px;
    border: 1px solid #f7f5f5;
    color: #1b2733;
    background: #fff;
    border-radius: 4px;
  }

  .meal_option {
    position: relative;
    top: -100px;
    left: 507px;
  }

  .pro_banner_meal {
      border: 1px solid #f7f5f5;
      color: #1b2733;
      background: #fff;
      border-radius: 4px;
      padding: 10px;
  }

  .subtle-hr {
    border: 1px solid #f7f5f5;
  }

  .recipie_img {
    float: right;
    width: 275px;
    border: 1px solid #f7f5f5;
    border-radius: 4px;
    margin-left: 5px;
    margin-top: 4px;
  }

  .description_p {
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 5px;
    padding-bottom: 10px;
  }

  .ingredient {
    margin-left: 5px;
    font-size: 16px;
    font-weight: 600;
  }

  .recipie_stars {
    color: #1b9be9;
    font-size: 16px;
  }

  .cook_prep_holder {
    color: #66757f;
    .cook_prep_holder_divide {
      color: #f7f5f5;
    }
  }

  .icon-button-recipie {
    padding: 1px 3px;
    font-size: 13px;
    font-weight: 600;
    margin-left: -20px;
    margin-right: 10px;
  }

  .holder {
    /* Clip edges, as some of the lines don't terminate nicely. */
      overflow: hidden;
      position: relative;
      width: 100%;
      height: 10px;
  }

  .line {
      position: absolute;
      width: 800px;
      /* Height set to clip correctly basically background-size/2 + line width */
      height: 6px;
      opacity: .7;
  }
  .line1 {
      background: linear-gradient(45deg, transparent, transparent 49%, grey 49%, transparent 51%);
  }
  .line2 {
      background: linear-gradient(-45deg, transparent, transparent 49%, grey 49%, transparent 51%);
  }
  .line {
      /* Must be after background definition... */
      background-size: 10px 10px;
  }

  /* add recipie starts here */
  .add_recipie_container {
    color: #66757f;

    .add_title_container{
      margin-top: 10px;
    }
    .tabs {
      position: relative;
      min-height: 100px;
      clear: both;
      margin: 25px 25px;
    }
    .tab {
      float: left;
    }
    .tab label {
      background: #eee; 
      padding: 10px; 
      border: 1px solid #ccc; 
      margin-left: -1px; 
      position: relative;
      left: 1px; 
      border-radius: 4px 4px 0px 0px;
    }
    .tab [type=radio] {
      display: none;   
    }
    .content {
      position: absolute;
      top: 28px;
      left: 0;
      background: white;
      right: 0;
      bottom: 0;
      padding: 20px;
      border: 1px solid #ccc; 
    }
    [type=radio]:checked ~ label {
      background: white;
      border-bottom: 1px solid white;
      z-index: 2;
    }
    [type=radio]:checked ~ label ~ .content {
      z-index: 1;
    }

    .add_recipie_half_container {
      //margin-right: 10px;
      float: left;
      width: 400px;
      margin-top: 10px;
    } 

    .add_photo_holder {
      position:fixed;
      top: 133px;
      left: 674px;
    }

    .progress_footer_scrolled {
      position:fixed;
      top: 53px;
      z-index: 3;
    }

    .progress_spacer_left {
      min-height: 47px;
    }

    .add_photo_pre_scroll {
      margin-top: 32px;
    }

    .starHolderExternal {
      display: inline-block;
      padding: 5px;
      padding-left: 10px;
      background-color: white;
      border: 1px solid #eee;
      border-radius: 4px;
    }

    [tooltip]{
      
      position:relative;
      display:inline-block;
    }
    [tooltip]::before {
        content: "";
        position: absolute;
        top:-6px;
        left:50%;
        transform: translateX(-50%);
        border-width: 4px 6px 0 6px;
        border-style: solid;
        border-color: rgba(0,0,0,0.7) transparent transparent     transparent;
        z-index: 2;
        opacity:0;
    }

    [tooltip-position='left']::before{
      left:0%;
      top:50%;
      margin-left:-12px;
      transform:translatey(-50%) rotate(-90deg) 
    }
    [tooltip-position='top']::before{
      left:50%;
    }
    [tooltip-position='buttom']::before{
      top:100%;
      margin-top:8px;
      transform: translateX(-50%) translatey(-100%) rotate(-180deg)
    }
    [tooltip-position='right']::before{
      left:100%;
      top:50%;
      margin-left:1px;
      transform:translatey(-50%) rotate(90deg)
    }

    [tooltip]::after {
        content: attr(tooltip);
        position: absolute;
        left: 50%;
        top: -6px;
        -webkit-transform: translateX(-50%) translateY(-100%);
        -ms-transform: translateX(-50%) translateY(-100%);
        transform: translateX(-50%) translateY(-100%);
        background: rgba(0, 0, 0, 0.7);
        text-align: center;
        color: #fff;
        padding: 4px 2px;
        font-size: 12px;
        min-width: 80px;
        width: 210px;
        border-radius: 5px;
        pointer-events: none;
        padding: 13px 6px;
        z-index: 2;
        opacity: 0;
        font-size: 14px;
    }

    [tooltip-position='left']::after{
      left:0%;
      top:50%;
      margin-left:-8px;
      transform: translateX(-100%)   translateY(-50%);
    }
    [tooltip-position='top']::after{
      left:50%;
    }
    [tooltip-position='buttom']::after{
      top:100%;
      margin-top:8px;
      transform: translateX(-50%) translateY(0%);
    }
    [tooltip-position='right']::after{
      left:100%;
      top:50%;
      margin-left:8px;
      transform: translateX(0%)   translateY(-50%);
    }

    [tooltip]:hover::after,[tooltip]:hover::before {
       opacity:1
    }

    [tooltip-on]::after,[tooltip-on]::before {
       opacity:1
    }

    [tooltip-small]::after {
      min-width: 30px;
      width: 30px;
      font-size: 11px;
    }

    [tooltip-icon]::after {
      min-width: 70px;
      width: 70px;
      font-size: 11px;
      margin-top:0px;
    }

    [tooltip-icon]::before {
      margin-top:0px;
    }

    .time_tip {
      margin-top: -5px;
      position: relative;
      top: -4px;
    }

    .white_tab {
      border: 1px solid #eee;
      border-radius: 4px 4px 0px 0px;
      background: white;
      margin-left: 0px;
      padding: 10px;
      padding-bottom: 3px;
      padding-top: 5px;
      font-size: 14px;
      //color: #3d464d;
      width: 133px;
      border-bottom: 1px solid white;
      position: relative;
      max-height: 20px;
      height: 30px;
      overflow: hidden;
    }

    .white_container {
      border: 1px solid #eee;
      border-radius: 0px 4px 4px 4px;
      background: white;
      margin-left: 0px;
      margin-top: -1px;
    }

    & .edit_main {
      margin-right: 0px;

      & > div{
        margin-bottom: 15px;
        padding-right: 15px;

        &::last-of-type{
          margin-bottom: 0px;
        }

        &.edit_email_verified span{
          font-size: 14px;
        }

      }

      & textarea {
        width: 95%;
        padding: 8px;
        font-size: 14px;
        word-break: normal;
        height: 121px;
      }

    }

    & .edit_span {
      display: block;
      position: relative;
      font-size: 14px;
      margin-bottom: 5px;
    }

    & input[type="text"],
    & input[type="email"] {
      padding: 8px;
      width: 95%;
      font-size: 14px;
    }

    .title_container_view {
      margin-left: 15px;
      margin-right: 10px;
      min-height: 47px;
    }

    .ing_container_view {
        margin-left: 15px;
        margin-right: 10px;
        min-height: 54px;
    }

    .description_container_view {
        min-height: 102px;
    }

    .prep_cook_container {
      width: 49%;
      float: left;
      & input[type="text"],
      & input[type="email"] {
        padding: 8px;
        width: 22px;
        font-size: 14px;
      }
    }

    .recipie_stars_rating {
      color: #1b9be9;
      font-size: 20px;
      span {
        margin-right: 3px;
      }
      span:hover {
        cursor: pointer;
      }
    }

    .recipie_stars_rating.view_only {
      color: #1b9be9;
      font-size: 20px;
      span {
        margin-right: 3px;
      }
      span:hover {
        cursor: default;
      }
    }

    .fa-beat {
      animation:fa-beat 1s ease forwards;
    }
    @keyframes fa-beat {
      0% {
        transform:scale(1);
      }
      5% {
        transform:scale(1);
      }
      20% {
        transform:scale(1.25);
      }
      30% {
        transform:scale(1.25);
      }
      35% {
        transform:scale(1.25);
      }
      50% {
        transform:scale(1.25);
      }
      55% {
        transform:scale(1.25);
      }
      100% {
        transform:scale(1.25);
      }
    }

    .float_time_holder {
      margin-left: 15px;
      float: left;
      min-width: 95px;
    }
    .float_time_seperator {
      float: left;
      color: #eee;
      h1 {
        max-width: 7px;
        overflow: hidden;
        margin-left: 5px;
        margin-right: 10px;
      }
    }

    .description_container_view {
      margin-left: 15px;
      margin-right: 15px;
      min-height: 108px;
    }

    .fancy_blockquote_holder {
      font-size: 50px;
      float: left;
      margin-right: 15px;
      color: #eee;
    }

    @keyframes slideDown{
      to {
        transform: translateY(-100%);
        max-height: 0px;
        opacity: 0;
      }
      from {
        transform: translateY(0);
        max-height: 93px;
        opacity: 1;
      }
    }

    .ing_fade_out {
      overflow: hidden;
      -webkit-animation-delay:0s;
        -webkit-animation-name: slideDown;
        -webkit-animation-timing-function: ease-out;
        -webkit-animation-duration: 0.2s;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-fill-mode: forwards;
    }

    .ing_parent_cont {
      //overflow: hidden;
      max-height: 93px;
    }

    .ing_parent_cont_preview {
      overflow: hidden;
      max-height: 93px;
    }

    .description_parent_cont_preview {
      overflow: hidden;
      max-height: 154px;
    }

    .ing_desc_cont {
      max-height: 145px;
    }

    textarea.edit_directions_textarea {
      height: 76px;
    }

    .version_header {
      float: right;
      margin-top: -56px;
      border: 1px solid #eee;
      border-radius: 0px 4px 4px 4px;
      padding: 8px 2px 8px 15px;
    }

    .version_but_info {
      //background: #6ae03b!important;
      color: white!important;
      //border: 1px solid #6ae03b!important;
      padding: 5px 15px;
    }

    .publish_but {
      background: #6ae03b!important;
      color: white!important;
      border: 1px solid #6ae03b!important;
      padding: 7px 19px;
    }

    .choose_img_btn {
      background: #1b9be9;
      border: 1px solid #1b9be9;
      color: white!important;
      padding: 5px 15px;
    }

    .choose_img_holder {
      min-height: 250px;
      text-align: center;
    }
    

    .progress_footer {
      background-color: #fbfbfb;
      //min-height: 65px;
      //position: fixed;
      //bottom: 0px;
      border-top: 20px solid #fbfbfb;
      border-bottom: 3px solid #fbfbfb;
      -webkit-box-shadow: 0px -4px 28px 12px rgba(251,251,251,1);
      -moz-box-shadow: 0px -4px 28px 12px rgba(251,251,251,1);
      box-shadow: 0px -4px 28px 12px rgba(251,251,251,1);
      .exp_nav .exp_nav_active:after {
          content: "";
          position: absolute;
          width: 100%;
          height: 3px;
          bottom: 0px;
          right: 0px;
          background: #6ae03b;
      }
    }

    .prep_icon_tip {
      width: 34px;
      position: relative;
      left: -6px;
      top: 8px;
      z-index: 2;
      opacity: 0.6;
      padding-left: 4px;
      padding-top: 10px;
    }

    .cook_icon_tip {
      width: 30px;
      margin-top: 4px;
    }

    .p_do{
      float: right;
      margin-top: 2px;
      margin-bottom: 2px;

      & > div{
        color: $d_light;
        position: relative;
        margin-right: 9px;
        display: inline-block;

        & > span{
          color: $d_light;
          position: relative;
          display: inline-block;
          cursor: pointer;

          &:hover {
            color: $dark;
            transform: scale(1.1);
          }
        }

      }

    }


  }

}


